---
import { getCollection } from "astro:content";
import H1 from "../components/H1.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import PostList from "../components/PostList.astro";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("posts");
---

<Layout title="Rhythm Nation Blog">
  <Main>
    <Header />
    <H1 text="Rhythm Nation" />
    <PostList posts={posts} />
  </Main>
</Layout>
