---
import { Image } from "astro:assets";

const userEmail = Astro.cookies.get("userEmail");
---

<header
  class="flex justify-between items-center py-12 max-sm:px-5 max-sm:py-10 max-w-7xl justify-self-center w-full"
>
  <a href="/" class="flex gap-x-4 items-center">
    <Image
      src="/heartbeat.png"
      alt="rhythm nation logo"
      width={64}
      height={64}
      format="webp"
      class="w-16"
    />

    <p class="uppercase text-3xl text-zinc-900">blog</p>
  </a>

  <div class="flex items-center gap-6">
    <a href="/" class="text-zinc-900 font-medium">Home</a>
    <a href="/" class="text-zinc-900 font-medium">About</a>
    <a href="/blog" class="text-zinc-900 font-medium">Blog</a>
  </div>
</header>
